<div class = "form_style col-xs-4 col-xs-offset-4"
  <h2>Add a Tweet</h2>

  <%= simple_form_for(@tweet) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :message, required: true, autofocus: true %>
    </div>
    <br/>
    <div class="form-actions">
      <%= f.button :submit, "Tweet" %>
    </div>
  <% end %>
</div>
