.margin-top{
  margin-top:20px;
}

.background-nav{
  background-color: #6495ED;
}

#nav-links li a {
  color: #FFFFFF;
}

.navbar-brand li a {
  color: #FFFFFF;
}

.form_style{
  padding: 15px;
  background-color: rgba(191,197,199,.75);
  border-radius: 10px;
}
